<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaFit</title>
</head>
<body>
     <h1>{{title}} </h1>
     {{#trainings}}
<div class="space">{{goal}}</div>

<div class="space">{{workout}}</div>

<div class="space">{{reps}}</div>
     {{/trainings}}

     
     {{#profiles}}
<div class="space" >{{name}}</div>

<div class="space">{{gender}}</div>

<div class="space">{{age}}</div>
     {{/profiles}}


</body>
</html>